Source: python-yubiauth
Maintainer: Yubico Open Source Maintainers <ossmaint@yubico.com>
Uploaders: Simon Josefsson <simon@yubico.com>, Klas Lindfors <klas@yubico.com>, Dain Nilsson <dain@yubico.com>
Section: python
Priority: extra
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 8),
               python-nose,
Standards-Version: 3.9.4
Homepage: https://github.com/Yubico/yubiauth
Vcs-Browser: https://github.com/Yubico/yubiauth-dpkg
Vcs-Git: git://github.com/Yubico/yubiauth-dpkg.git

Package: python-yubiauth
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         mysql-server | postgresql,
         python-mysqldb | python-psycopg2,
         dbconfig-common
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: User management system with YubiKey validation
 YubiAuth provides a user management system which can be used as a base for 
 other systems. It allows the creation of users, which can be authenticated by
 username, password, and optionally a YubiKey OTP.
