#!/bin/sh

set -e

# source debconf stuff
. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
     # we support mysql and pgsql
     dbc_dbtypes="mysql, pgsql"
     dbc_dbname="yubiauth"
     dbc_dbuser="yubiauth"

     # source dbconfig-common stuff
     . /usr/share/dbconfig-common/dpkg/config
     dbc_go python-yubiauth $@
fi
